.Popup{
position: fixed;
width: 900px;
height: 250px;
background-color: rgb(27, 113, 8);
display: flex;
align-content: center;
justify-content: center;

}
.inner{
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 600px;
background-color: rgb(104, 152, 36);
 
}
.inner-btn{
    position: absolute;
    top :16px;
    right: 16px;

}